@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#webpack-dev-server-client-overlay {
	visibility: hidden;
}

a:visited {
	color: rgb(195, 195, 195);
}

a {
	color: white;
}
