@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#webpack-dev-server-client-overlay {
	visibility: hidden;
}

a:visited {
	color: rgb(195, 195, 195);
}

a {
	color: white;
}

div {
	scrollbar-width: thin;
	scrollbar-color: #9f9f9f rgba(48, 48, 48, 0.9) ;
}

ul {
	margin-block-start: 0em;
    margin-block-end: 0em;
}
